@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  background-color: #FFFFFF;
  color: #0A0A0A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
